.row
  .col
    %h3 Выбрать юзера
    .ul
      = team_users.find_each do |user|
        .li
          %a{href: user_login_path(id: user.id) }
            = user.name
  .col
    %h3 Вход
    = form_for user, url: '#' do |f|
      .input-group
        = f.label :name, "Имя", class: 'input-group-text'
        = f.text_field :name, placeholder: "Введите имя", class: 'form-control'
      .input-group
        = f.submit "Войти", class: 'form-control bg-light'