.row
  %h3 Привет!
.row
  = form_for :team, url: team_login_index_path do |f|
    .row
      .input-group
        = f.label :team, "Выберите команду", class: 'input-group-text'
        = f.select :team, Settings.teams.map {|team| [team[:title], team[:name]] }, {}, {class: 'form-select'}
    .row
      .input-group
        = f.label :password, "Пароль", class: 'input-group-text'
        = f.password_field :password, class: 'form-control'
    .row
      .input-group
        = f.submit "Отправить", class: 'form-control bg-light'