!!! 5
%html(lang="en")
%html
%head
  %meta(charset="utf-8")
  %meta(http-equiv="X-UA-Compatible" content="IE=edge")
  %meta(name="viewport" content="width=device-width, initial-scale=1")
  %meta(name="description" content="")
  %meta(name="author" content="")
  %title HolySink

  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application'
  = csrf_meta_tags

%body
  .container
    .header.d-flex.flex-wrap.justify-content-center.py-3.mb-4.border-bottom
      %a.d-flex.align-items-center.mb-3.mb-md-0.me-md-auto.text-dark.text-decoration-none(href="/")
        %svg.bi.me-2(width="40" height="32")
          %span.fs-4= current_team&.fetch(:title, "HolySink")
      %ul.nav.nav-pills
        - if current_user
          %li.nav-item
            %a.nav-link(aria-current="page" href="#{my_days_path}") Мои выходные
          %li.nav-item
            %a.nav-link(aria-current="page" href="#{team_days_path}") Общий календарь
          - if current_user.admin?
            %li.nav-item
              %a.nav-link(aria-current="page" href="#{administration_index_path}") Админка
        - if current_team || current_user
          %li.nav-item
            = link_to("Выйти " << (current_user ? "(#{current_user.name})" : ''), team_login_index_path, method: :delete, class: 'nav-link')

  .container
    = flash_messages

  .container.body
    = yield
    / = console
